 .main-content {
  margin-left: 220px; 
  /* padding: 20px; */
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 90%; 
  background: #f5f5f5;
  margin-top: 20px;
  
}

.main-content_h2 {
  margin-left: 30px; 
  
}
.main-content_button {
  
  background-color: #081D45;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #005ea6;
}

/* .adm-container {
  display: flex;
  justify-content: center;
  background-color: DodgerBlue;
  margin-left: 11%;
  margin-top: 5%;
} */
/*   
  .box {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
  } */
  

  

  table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    /* margin-top: 130px; */
    margin-left: 30px;
  }
  
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    text-align: left;
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #e4e7f6;
  }
  
  tr:hover {
    background-color: #ddd;
  }

  .link{
    color: #01090e;
  }
  
  .recent{
    display: flex;
 
    justify-content: space-between;
    width: 70%;
    height: 40%;
    background: #fff;
    margin-top: 30px;
    /* padding: 15px 14px; */
    padding-right: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    margin-left: 20px;
  }

  .recent li{
    list-style-type: none;
    margin: 8px 0;
    font-size:20px;
    font-weight: 400;
    margin-top: 15px;
  }

  .recent ul{
    /* font-size: 20px; */
    /* font-weight: 500; */
  }

  .recent .title{
    display: flex;
    font-size: 30px;
    font-weight: 1000px;
    margin-left:10px ;
    margin-top: 25%;
    font-weight: bolder;
  }

  .recent ul.topic{
    font-size: 20px;
   font-weight: bold;
  }
  


  /************************************************************************************
  */

  
  

  
 